P "CDS_LMAN_SYM_OUTLINE" "0,7850,5400,0" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
M 75 7775 75 75 -1 0
M 5325 7775 75 7775 -1 0
M 5325 75 75 75 -1 0
M 5325 7775 5325 75 -1 0
L 5400 0 0 0 -1 74
L 5400 7850 5400 0 -1 74
L 0 7850 0 0 -1 74
L 5400 7850 0 7850 -1 74
M 1825 75 1825 550 -1 0
M 5325 550 1825 550 -1 0
L 5325 450 1825 450 -1 0
L 5325 350 3075 350 -1 0
L 3075 450 3075 75 -1 0
L 2006 325 1978 325 -1 74
L 1966 325 1924 325 -1 74
L 2018 277 2012 277 -1 74
L 1984 277 1978 277 -1 74
L 1966 277 1924 277 -1 74
L 5325 250 3075 250 -1 0
L 1982 325 1982 277 -1 74
L 1980 325 1980 277 -1 74
L 1926 325 1926 277 -1 74
L 1928 325 1928 277 -1 74
L 2016 277 1994 305 -1 74
L 2014 277 1992 305 -1 74
L 4125 7850 4125 7775 -1 0
L 2125 7850 2125 7775 -1 0
L 1125 7850 1125 7775 -1 0
L 0 1075 75 1075 -1 0
L 0 7075 75 7075 -1 0
L 0 5075 75 5075 -1 0
L 0 6075 75 6075 -1 0
L 0 4075 75 4075 -1 0
L 0 3075 75 3075 -1 0
L 0 2075 75 2075 -1 0
L 5325 5075 5400 5075 -1 0
L 5325 6075 5400 6075 -1 0
L 5325 7075 5400 7075 -1 0
L 5325 2075 5400 2075 -1 0
L 5325 3075 5400 3075 -1 0
L 5400 4075 5325 4075 -1 0
L 5325 1075 5400 1075 -1 0
L 2125 75 2125 0 -1 74
L 1125 75 1125 0 -1 0
L 3125 75 3125 0 -1 0
L 4125 75 4125 0 -1 0
L 4325 250 4325 450 -1 0
L 4625 250 4625 350 -1 0
L 1978 277 1978 325 -1 74
L 1966 323 1966 325 -1 74
L 1924 325 1924 277 -1 74
L 2018 277 1996 305 -1 74
L 2012 277 1990 305 -1 74
L 1984 305 1984 277 -1 74
L 1966 277 1966 279 -1 74
L 1855 285 1890 145 -1 74
L 1861 285 1896 145 -1 74
L 1859 285 1894 145 -1 74
L 1857 285 1892 145 -1 74
L 1863 285 1898 145 -1 74
L 2066 235 1976 100 -1 74
L 2064 235 1974 100 -1 74
L 2062 235 1972 100 -1 74
L 2060 235 1970 100 -1 74
L 2068 235 1978 100 -1 74
L 2083 328 2153 98 -1 74
L 2085 328 2155 98 -1 74
L 2079 328 2149 98 -1 74
L 2087 328 2157 98 -1 74
L 2081 328 2151 98 -1 74
L 1930 305 1952 305 -1 74
L 1952 305 1952 307 -1 74
L 1952 307 1930 307 -1 74
L 1930 279 1930 305 -1 74
L 1930 307 1930 323 -1 74
L 1966 279 1930 279 -1 74
L 1930 323 1966 323 -1 74
L 1912 317 1916 317 -1 74
L 1912 285 1916 285 -1 74
L 1990 305 1984 305 -1 74
L 1984 307 2006 307 -1 74
L 1984 323 1984 307 -1 74
L 2006 323 1984 323 -1 74
L 2006 305 1996 305 -1 74
L 2028 277 2028 325 -1 74
L 2030 277 2028 277 -1 74
L 2028 325 2068 287 -1 74
L 2030 315 2030 277 -1 74
L 2068 287 2068 325 -1 74
L 2068 283 2030 319 -1 74
L 2068 281 2030 317 -1 74
L 2068 285 2030 321 -1 74
L 2068 325 2070 325 -1 74
L 2070 325 2070 277 -1 74
L 2070 277 2030 315 -1 74
L 1973 420 2224 420 -1 74
L 1973 422 2224 422 -1 74
L 2224 416 1973 416 -1 74
L 2224 414 1973 414 -1 74
L 2224 418 1973 418 -1 74
L 2177 232 2202 398 -1 74
L 2175 234 2200 400 -1 74
A 1972 303 112 0 360 74
A 1898 301 24 42 318 74
A 1972 303 110 0 360 74
A 1972 303 116 0 360 74
A 1972 303 118 0 360 74
A 2035 259 142 177 510 74
A 1972 303 114 0 360 74
A 1899 301 22 45 315 74
A 1900 301 20 52 308 74
A 2005 315 8 281 439 74
A 2006 315 10 260 460 74
A 2004 315 10 281 439 74
A 2008 315 10 259 461 74
A 2035 260 145 177 511 74
T 5355 4565 0 0 41 0 0 0 0 1 74
E
T 5355 5560 0 0 41 0 0 0 0 1 74
F
T 5355 6560 0 0 41 0 0 0 0 1 74
G
T 5350 7560 0 0 41 0 0 0 0 1 74
H
T 5350 1560 0 0 41 0 0 0 0 1 74
B
T 5350 2565 0 0 41 0 0 0 0 1 74
C
T 5350 3560 0 0 41 0 0 0 0 1 74
D
T 5350 560 0 0 41 0 0 0 0 1 74
A
T 4610 7795 0 0 41 0 0 0 0 1 74
1
T 3610 7795 0 0 41 0 0 0 0 1 74
2
T 2605 7795 0 0 41 0 0 0 0 1 74
3
T 1605 7795 0 0 41 0 0 0 0 1 74
4
T 20 7555 0 0 41 0 0 0 0 1 74
H
T 25 6555 0 0 41 0 0 0 0 1 74
G
T 610 7795 0 0 41 0 0 0 0 1 74
5
T 25 4560 0 0 41 0 0 0 0 1 74
E
T 25 5555 0 0 41 0 0 0 0 1 74
F
T 20 2560 0 0 41 0 0 0 0 1 74
C
T 20 3555 0 0 41 0 0 0 0 1 74
D
T 20 1555 0 0 41 0 0 0 0 1 74
B
T 3610 20 0 0 41 0 0 0 0 1 74
2
T 2605 20 0 0 41 0 0 0 0 1 74
3
T 4610 20 0 0 41 0 0 0 0 1 74
1
T 610 20 0 0 41 0 0 0 0 1 74
5
T 20 555 0 0 41 0 0 0 0 1 74
A
T 1850 475 0 0 41 0 0 0 0 8 0
PROJECT:
T 3100 375 0 0 41 0 0 0 0 9 0
REVISION:
T 3100 275 0 0 41 0 0 0 0 12 0
DESIGNED BY:
T 4350 275 0 0 40 0 0 0 0 5 0
SIZE:
T 4350 375 0 0 41 0 0 0 0 14 0
DATE MODIFIED:
T 4650 275 0 0 40 0 0 0 0 5 0
PAGE:
T 2300 150 0 0 40 0 0 0 0 11 74
SWITZERLAND
T 2300 225 0 0 40 0 0 0 0 17 74
CH-1211 GENEVA 23
T 2300 325 0 0 40 0 0 0 0 5 74
DIV.
T 1605 20 0 0 41 0 0 0 0 1 74
4
P "HDL_CONCAT" "TRUE" 3725 675 0 0 48 0 0 0 0 0 0 0 32
P "BODY_TYPE" "COMMENT" 3725 575 0 0 48 0 0 0 0 0 0 0 32
P "CUSTOM_TXT_CDS" "<DSN_BY>" 3550 275 0 0 48 0 0 0 0 0 1 0 0
P "CUSTOM_TXT_CDS" "<REVISION>" 3550 375 0 0 48 0 0 0 0 0 1 0 0
P "CUSTOM_TXT_CDS" "<PROJECT>" 3725 475 0 0 48 0 0 1 0 0 1 0 0
P "CUSTOM_TXT_CDS" "<CURRENT_DESIGN_SHEET> / <TOTAL_DESIGN_SHEETS>" 5315 275 0 0 48 0 0 2 0 0 1 0 0
P "CUSTOM_TXT_CDS" "<DATE>" 5315 375 0 0 48 0 0 2 0 0 1 0 0
P "PAGE_SIZE" "A3" 4615 275 0 0 48 0 0 2 0 0 1 0 0
P "TITLE" "TITLE" 4200 130 0 0 64 0 0 1 0 0 1 0 0
P "DIVISION" "EP/ESE" 2450 325 0 0 48 0 0 0 0 0 1 0 0


