L 7850 5400 0 5400 -1 0
M 7775 5325 75 5325 -1 1
L 7850 5400 7850 0 -1 0
M 7775 5325 7775 75 -1 1
M 75 5325 75 75 -1 1
L 0 5400 0 0 -1 0
L 7775 450 4275 450 -1 0
M 4275 550 4275 75 -1 1
L 7775 350 5525 350 -1 0
L 5525 450 5525 75 -1 0
L 7775 250 5525 250 -1 0
M 7775 75 75 75 -1 1
L 7850 0 0 0 -1 0
L 775 75 775 0 -1 0
L 1775 75 1775 0 -1 0
L 3775 0 3775 75 -1 0
L 4775 75 4775 0 -1 0
L 2775 75 2775 0 -1 0
L 6775 75 6775 0 -1 0
L 5775 75 5775 0 -1 0
L 6775 250 6775 450 -1 0
L 7075 250 7075 350 -1 0
L 0 4575 75 4575 -1 0
L 0 2575 75 2575 -1 0
L 0 1575 75 1575 -1 0
L 0 3575 75 3575 -1 0
L 7775 4575 7850 4575 -1 0
L 7775 3575 7850 3575 -1 0
L 7775 2575 7850 2575 -1 0
L 7775 1575 7850 1575 -1 0
M 7775 550 4275 550 -1 1
L 4775 5400 4775 5325 -1 0
L 5775 5400 5775 5325 -1 0
L 6775 5400 6775 5325 -1 0
L 2775 5400 2775 5325 -1 0
L 1775 5400 1775 5325 -1 0
L 3775 5400 3775 5325 -1 0
L 775 5400 775 5325 -1 0
T 2275 25 0.00 0.00 41 0 0 0 0 1 0
6
T 4725 200 0.00 0.00 32 0 0 0 0 30 74
H. H. WILLS PHYSICS LABORATORY
T 4725 250 0.00 0.00 32 0 0 0 0 21 74
UNIVERSITY OF BRISTOL
T 4300 475 0.00 0.00 41 0 0 0 0 8 0
PROJECT:
T 6800 375 0.00 0.00 41 0 0 0 0 14 0
DATE MODIFIED:
T 6800 275 0.00 0.00 40 0 0 0 0 5 0
SIZE:
T 5550 375 0.00 0.00 41 0 0 0 0 9 0
REVISION:
T 5275 25 0.00 0.00 41 0 0 0 0 1 0
3
T 5550 275 0.00 0.00 41 0 0 0 0 12 0
DESIGNED BY:
T 6275 25 0.00 0.00 41 0 0 0 0 1 0
2
T 7100 275 0.00 0.00 40 0 0 0 0 5 0
PAGE:
T 275 25 0.00 0.00 41 0 0 0 0 1 0
8
T 7275 25 0.00 0.00 41 0 0 0 0 1 0
1
T 7800 1075 0.00 0.00 41 0 0 0 0 1 0
A
T 1275 25 0.00 0.00 41 0 0 0 0 1 0
7
T 3275 25 0.00 0.00 41 0 0 0 0 1 0
5
T 25 1075 0.00 0.00 41 0 0 0 0 1 0
A
T 25 2075 0.00 0.00 41 0 0 0 0 1 0
B
T 25 3075 0.00 0.00 41 0 0 0 0 1 0
C
T 25 4075 0.00 0.00 41 0 0 0 0 1 0
D
T 1275 5350 0.00 0.00 41 0 0 0 0 1 0
7
T 275 5350 0.00 0.00 41 0 0 0 0 1 0
8
T 3275 5350 0.00 0.00 41 0 0 0 0 1 0
5
T 2275 5350 0.00 0.00 41 0 0 0 0 1 0
6
T 4275 5350 0.00 0.00 41 0 0 0 0 1 0
4
T 5275 5350 0.00 0.00 41 0 0 0 0 1 0
3
T 7275 5350 0.00 0.00 41 0 0 0 0 1 0
1
T 6275 5350 0.00 0.00 41 0 0 0 0 1 0
2
T 7800 5075 0.00 0.00 41 0 0 0 0 1 0
E
T 7800 3075 0.00 0.00 41 0 0 0 0 1 0
C
T 7800 4075 0.00 0.00 41 0 0 0 0 1 0
D
T 7800 2075 0.00 0.00 41 0 0 0 0 1 0
B
T 25 5075 0.00 0.00 41 0 0 0 0 1 0
E
T 4275 25 0.00 0.00 41 0 0 0 0 1 0
4
T 4725 100 0.00 0.00 32 0 0 0 0 11 0
BRISTOL, UK
T 4725 150 0.00 0.00 32 0 0 0 0 23 74
TYNDALL AVENUE, BS8 1TL
P "CUSTOM_TXT_CDS" "<CON_DESIGN_NAME>" 5875 475 0.00 0.00 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DATE>" 7300 375 0.00 0.00 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<DSN_BY>" 6025 275 0.00 0.00 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<REVISION_N>" 6025 375 0.00 0.00 48 0 0 0 0 0 1 0 32
P "CUSTOM_TXT_CDS" "<CURRENT_DESIGN_SHEET> / <TOTAL_DESIGN_SHEETS>" 7300 275 0.00 0.00 48 0 0 0 0 0 1 0 32
P "TITLE" "TITLE" 6650 130 0.00 0.00 64 0 0 1 0 0 1 0 0
P "PAGE_SIZE" "A3" 7065 275 0.00 0.00 48 0 0 2 0 0 1 0 0
P "CDS_CON_LAST_MODIFIED" "<->" 7375 375 0.00 0.00 47 0 0 0 0 0 0 0 32
P "CDS_CON_LAST_MODIFIED" "<->" 7300 375 0.00 0.00 47 0 0 0 0 0 0 0 32
P "HDL_CONCAT" "TRUE" 7775 5525 0.00 0.00 41 0 0 0 0 0 0 0 0
P "BODY_TYPE" "COMMENT" 7075 25 0.00 0.00 41 0 0 0 0 0 0 0 0
P "CDS_LMAN_SYM_OUTLINE" "0,5400,7850,0" 0 0 0.00 0.00 22 0 0 0 0 0 0 0 0
P "DIVISION" "PARTICLE PHYSICS" 4725 350 0.00 0.00 48 0 0 0 0 0 1 0 0
